
.header_nav {
    position : fixed;
    top : 0;
    left:0px;
    margin : auto 0;
    width : 100%;
    background-color: lightgrey;
    height : 60px;
    display : flex;
    justify-content: space-between;
}

.header_nav > a {
    margin-top: auto;
    margin-bottom: auto;
    margin-left:30px;
    font-size: xx-large;
    text-decoration: none;
    color : black;
}

.header_nav > a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.header_nav > p {
    font-weight: bold;
    font-size: 3em;
    margin : auto 0;
}

.header_nav > a > img {
    margin-top: auto;
    margin-bottom: auto;
    margin-right:30px;
    width : 75px;
    height : 50px;
}

.all_cd {
    margin-top: 100px;
    display : flex;
    justify-content: space-around;
}

.all_cd > a{
    text-decoration: none;
}


.list_cd{
    display:flex;
    flex-direction:column;
}

.cd_box {
    display:flex;
    width:320px;
    border: 1px solid black ;
    border-radius: 20px;
    padding : 10px;
    margin-bottom: 200px;
    animation-name: increase_cd_box ;
    animation-duration: 1s;
}

@keyframes reduce_cd_box {
    from {background-color: white;color:black;}
    to {background-color: black;color:white; }
  }

@keyframes increase_cd_box {
    from {background-color: black;color:white; }
    to {background-color: white;color:black;}
}

.cd_box:hover {
    background-color: black ;
    animation-name: reduce_cd_box ;
    animation-duration: 1s;
}
  

.cd_box:hover > .caracteristique {
    color:white; 
}

.caracteristique{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
    margin-left:10px;
    margin-right:20px;
    color:black;
}

.titre{
    margin-top: 5px;
}

.pochette {
    border-radius: 20px;
    margin-top:3px;
}

.voir_panier {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color: lightgrey;
    width: 150px;
    height:80px;
    border-radius: 20px;
}

.voir_panier > a {
    font-size: xx-large;
    margin : auto 0;
    text-decoration: none;
    color:black;
}

.voir_panier:hover {
    background-color: black;
}

.voir_panier:hover > a {
    color:white;
}