body {
    background-color: lightblue;
}

p {
    font-size: xx-large;
}

.cd_box {
    margin : 200px auto ;
    display:flex;
    width:800px;
    border-radius: 20px;
    padding : 10px;
    margin-bottom: 200px;
}

.caracteristique {
    margin-right : 50px;
    width : 300px;
}

form {
    background-color:rgb(159, 159, 255);
    margin : 0 auto;
    width : 100px;
    border-radius: 20px;
}

button {
    font-size: xx-large;
    background-color: rgb(159, 159, 255);
    border : 0px;
    border-radius: 20px;
    width:160px;
    height:90px;
}

button:hover {
    color:lightblue;
    background-color: black;
}