form {
    display : flex;
    flex-direction: column;
}

label {
    font-size: large;
}

input {
    width : 400px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.enregistrer {
    color:black;
    background-color: lightgrey;
    border: 1px grey solid;
    border-radius: 10px;
    width:200px;
}

.file {
    border-radius: 0px;
}